HOST_NAME=localhost

# GAME SERVER
GO_GAME_SERVER_CONTAINER_NAME=snakesneaks_go_game_server_test 
GO_GAME_SERVER_PORT=8080
GO_GAME_SERVER_PORT_TLS=50000
#put into go-game-server/server/secret folder: I generated using openssl for debug 
GO_GAME_TLS_CERT_FILE=debug.crt
#put into go-game-server/server/secret folder: I generated using openssl for debug  
GO_GAME_TLS_KEY_FILE=debug.key 

# WEB SERVER
GO_WEB_SERVER_CONTAINER_NAME=snakesneaks_go_web_server_test 
GO_WEB_SERVER_DEFAULT_PORT=80
GO_WEB_SERVER_PORT=8081
GO_WEB_SERVER_PORT_TLS=50001
#put into go-web-server/server/secret folder: I generated using openssl for debug 
GO_WEB_TLS_CERT_FILE=debug.crt 
 #put into go-web-server/server/secret folder: I generated using openssl for debug 
GO_WEB_TLS_KEY_FILE=debug.key

# MYSQL
MYSQL_CONTAINER_NAME=mysql-db
MYSQL_HOST_NAME=mysql-db
MYSQL_ROOT_PASSWORD=test_root_pass
MYSQL_DATABASE=test_db
MYSQL_USER=test_user
MYSQL_PASSWORD=test_pass
MYSQL_PORT=3306
MYSQL_CHARSET=utf8mb4
MYSQL_PARSETIME=True
MYSQL_TIMEZONE=Asia/Tokyo

#Debug 
DEBUG_MODE=True 
USE_TLS= #True

# Create account or not, if true, new account is created and required to do connection. 
# If false, account is not created and not required. user_id is randomly assigned. 
CREATE_ACCOUNT= #True

#Origin CHeck
#* alows all cross origin, or set origin like http://127.0.0.1:8080
ALLOW_ORIGIN=* 