<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Sample App</title>
</head>
<body>
  <h2>ユーザー追加</h2>
  <form method="post" action="/signup">
    <p>名前<input type="text" name="username" size="30" placeholder="入力してください" required></p>
    <p>メールアドレス<input type="email" name="email" size="30" placeholder="入力してください" required></p>
    <p>パスワード<input type="password" name="password" size=80></p>
    <p><input type="submit" value="Send"></p>
  </form>

  <div>
    <h2>ユーザー一覧</h2>
    <table>
      <tr>
        <td>ID</td>
        <td>名前</td>
        <td>メールアドレス</td>
        <td>パスワード</td>
        <td>作成日</td>
        <td>更新日</td>
      </tr>
      {{ range .users }}
        <tr>
          <td>{{ .ID }}</td>
          <td>{{ .Username }}</td>
          <td>{{ .Email }}</td>
          <td>{{ .Password }}</td>
          <td>{{ .CreatedAt }}</td>
          <td>{{ .UpdatedAt }}</td>
          <td>
            <form method="post" action="/delete/{{.ID}}">
              <button type="submit">削除</button>
            </form>
          </td>
        </tr>
      {{ end }}
    </table>
  </div>
  
  <br><hr><br>

  <div>
    <h2>セッションデータ</h2>
    <table>
      <tr>
        <td>UserID</td>
        <td>SessionID</td>
        <td>Created</td>
      </tr>
      {{ range .sessionData }}
        <tr>
          <td>{{ .UserID }}</td>
          <td>{{ .SessionInf.SessionID }}</td>
          <td>{{ .SessionInf.Created }}</td>
          <td>
            <form method="post" action="/delete/{{.ID}}">
              <button type="submit">削除</button>
            </form>
          </td>
        </tr>
      {{ end }}
    </table>
  </div>

  </body>
</html>