<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="../statics/sign-in.css">
</head>
<body>

    <p class="error">ERROR: {{.error}}</p>

    <h2>サインイン</h2>
    <form method="post" action="/sign-in">
        <p>名前<input type="text" name="name" size="10" placeholder="入力してください" required></p>
        <p>メールアドレス<input type="email" name="email" size="30" placeholder="入力してください" required></p>
        <p>パスワード<input type="password" name="password" size="30" placeholder="入力してください" required></p>
        <p><input type="submit" value="Send"></p>
      </form>
</body>
</html>